.dropdown-container {
    margin-bottom: 20px;
  }
  
  .select-dropdown {
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid lightgray;
  }
  
  .select-option {
    background-color: lightblue;
  }